<h2>Cambiar Contraseña Obligatoria</h2>

<form method="post">
    <input type="password" name="nuevaPassword" class="form-control" placeholder="Nueva contraseña" required />
    <br />
    <button class="btn btn-success">Cambiar contraseña</button>
</form>

@if(ViewBag.Error != null)
{
    <p class="text-danger">@ViewBag.Error</p>
}