@model List<CentroAcademicoSQLite.Models.Cita>

<h2 class="text-center text-success mt-4">Administrador</h2>

<div class="container mt-5">

<div class="row text-center">

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<div style="font-size:50px;color:#1c6b3f">
<i class="bi bi-people-fill"></i>
</div>

<h5>Usuarios Activos</h5>

<h2>@ViewBag.TotalAlumnos</h2>

</div>

</div>

</div>


<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<div style="font-size:50px;color:#d4a017">
<i class="bi bi-person-workspace"></i>
</div>

<h5>Modificar Usuario</h5>

<ul class="text-start">

<li>Password</li>
<li>Correo</li>
<li>Especialidad</li>

</ul>

<a asp-controller="Profesores"
asp-action="Index"
class="btn btn-primary">

Profesores

</a>

<a asp-controller="Psicologos"
asp-action="Index"
class="btn btn-warning">

Psicólogos

</a>

</div>

</div>

</div>


<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<div style="font-size:50px;color:#1c6b3f">
<i class="bi bi-mortarboard-fill"></i>
</div>

<h5>Modificar Usuario</h5>

<ul class="text-start">

<li>Password</li>
<li>Teléfono</li>
<li>Correo</li>
<li>Carrera</li>

</ul>

<a asp-controller="UserManagement"
asp-action="Index"
class="btn btn-success">

Alumnos

</a>

</div>

</div>

</div>

</div>

</div>