@model List<CentroAcademicoSQLite.Models.ApplicationUser>

<h2>Alumnos Canalizados</h2>

<form method="get">

<input name="buscar" placeholder="Buscar alumno" class="form-control"/>

<br>

<button class="btn btn-primary">Buscar</button>

</form>

<br>

<table class="table">

<tr>
<th>Nombre</th>
<th>Matrícula</th>
<th>Expediente</th>
</tr>

@foreach(var alumno in Model)
{
<tr>

<td>@alumno.Nombre @alumno.Apellidos</td>

<td>@alumno.Matricula</td>

<td>

<a asp-controller="UserManagement"
asp-action="Expediente"
asp-route-id="@alumno.Id"
class="btn btn-info">

Ver Expediente

</a>

</td>

</tr>
}

</table>