@model CentroAcademicoSQLite.Models.Cita

<h2>Registrar Intervención</h2>

<p><strong>Alumno:</strong> @Model.Usuario.Nombre @Model.Usuario.Apellidos</p>
<p><strong>Fecha:</strong> @Model.FechaHora</p>

<form method="post" enctype="multipart/form-data" asp-action="GuardarAtencion">

<input type="hidden" name="id" value="@Model.Id" />

<label>Comentarios</label>
<textarea name="comentarios" class="form-control"></textarea>

<label>Archivo PDF</label>
<input type="file" name="archivo" class="form-control" />

<br>

<button class="btn btn-success">
Guardar expediente
</button>

</form>