<h2>Registrar Psicólogo</h2>

<form method="post">
    <input name="nombre" placeholder="Nombre" class="form-control" required />
    <input name="apellidos" placeholder="Apellidos" class="form-control" required />
    <input name="email" placeholder="Correo" class="form-control" required />

    <label>Turno</label>
    <select name="turno" class="form-control">
        <option>Matutino</option>
        <option>Vespertino</option>
    </select>

    <br />
    <button class="btn btn-success">Registrar</button>
</form>