@model CentroAcademicoSQLite.Models.ApplicationUser

<h2>Editar Usuario</h2>

<form method="post">

<input type="hidden" asp-for="Id"/>

<div class="form-group">
<label>Nombre</label>
<input asp-for="Nombre" class="form-control"/>
</div>

<div class="form-group">
<label>Apellidos</label>
<input asp-for="Apellidos" class="form-control"/>
</div>

<div class="form-group">
<label>Correo</label>
<input asp-for="Email" class="form-control"/>
</div>

<div class="form-group">
<label>Teléfono</label>
<input asp-for="PhoneNumber" class="form-control"/>
</div>

<br>

<button class="btn btn-success">Guardar Cambios</button>

<a asp-action="Index" class="btn btn-secondary">Volver</a>

</form>