<h2>Registrar Profesor</h2>

<form method="post" asp-controller="Profesores" asp-action="Create">
    @Html.AntiForgeryToken()

    <input name="nombre" placeholder="Nombre" class="form-control" required />
    <input name="apellidos" placeholder="Apellidos" class="form-control" required />
    <input name="email" placeholder="Correo" class="form-control" required />

    <label>Carrera</label>
    <input name="carrera" class="form-control" required />

    <label>Tipo</label>
    <select name="tipoProfesor" class="form-control">
        <option>Profesor</option>
        <option>Jefe de Carrera</option>
    </select>

    <br />

    <button type="submit" class="btn btn-success">Registrar</button>
</form>

@if(ViewBag.Error != null)
{
    <p class="text-danger">@ViewBag.Error</p>
}